/* CSS code for FAVORITES block
** Blocks added in context module
** added by criscom
** /front
**
*/

// Image sprites

// NEW Sprite approach
$favorites-layout: horizontal;
// $favorites-spacing: 4px;
$favorites-sprite-base-class: ".favorites-images";
@import 'favorites/*.png';
@include all-favorites-sprites;

.favorites {
    margin-top: 64px;
    margin-top: 4rem;
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    @include display-flex;
        justify-content: center;

    @include breakpoint($range0-480 ){
        display: none;
    }
    li {
        padding-right: 12px;
        padding-right: 0.75rem;
        &.favorites-fav_06 {
            padding-right: 0;
        }
        a {
            display: block;
            @extend .favorites-images;
            @include hide-text();
            width: 154px;
            height: 128px;
        }
    }
}