/* CSS code for frontpage
** VIEWS page
** Blocks added in context module
** added by criscom
** /front
**
*/


.front .main-content {
    text-align: center;
}

.view-google-doodle {
    margin-top: 71px;
    margin-top: 4.4375rem;
}

.front {
    .block-search-api-page {
        // margin-top: 6px;
    }
    div.form-item-keys-1 {
        margin-top: 25px;
        margin-top: 1.5625rem;
        margin-bottom: 16px;
        margin-bottom: 1rem;
    }
    input.form-text {
        width: 570px;
        height: 30px;
        outline: none;
        &:focus {
            outline: none;
            border: 1px solid rgb(67, 135, 253);
        }
    }
    input[type="submit"] {
        &:hover {
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        border: 1px solid #c6c6c6;
        color: #222;
        }
    }
    .block-search-api-page {
        .btn-primary {
            border: 1px solid rgba(0,0,0,0.1);
            color: #444;
            @include border-radius(2px);
            height: 29px;
            line-height: 27px;
            padding: 0 8px;
            margin: 0 8px;
            @include background-image(linear-gradient(top, rgb(245,245,245), rgb(241,241,241)));
            font-size: 11px;
            font-weight: bold;
            color: rgb(68,68,68);
        }
    }
}