/* CSS code for the HEADER TEXT
** added by criscom
** not on front

*/

.header__region
{
    position: relative;
}

#block-block-3
{
    position: relative;
    font-size: 13px;
    float: right;
    text-align: right;
    margin: 0;
    margin-top: 3px;
    margin-top: 0.1875rem;
    
    padding: 12px 2px 12px 12px;
    padding: .75rem 0.125rem .75rem .75rem;
    a {
            color: black;
            opacity: 0.75;
            text-decoration: none;
            &:hover {
                color: black;
                text-decoration: underline;
                opacity: 1;
            }
    }
    span.block {
        padding-right: 16px;
        padding-right: 1rem;
    }
    span.glyphicons {
        top: 6px;
        top: 0.375rem;
        font-size: 18px !important;
        font-size: 1.125rem !important;
        opacity: 1;
    }
    .btn-primary {
        @include background-image(linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234)));
        @include border-radius(2px);
    }
    .btn a {
        color: white;
        opacity: 1;
        font-weight: bold;
    }

}

.header-date
{
    color: $yellow;

    @include breakpoint($tablet)
    {
        font-size: 24px;
        font-size: 1.5rem;
    }
    @include breakpoint ($desktop)
    {
        font-size: 32px;
        font-size: 2rem;
    }
}

.region-blockgroup-header-wrapper
{
    clear: both;
}
