/* CSS code for ICONS modal window
** Blocks added in context module
** added by criscom
** /front
**
*/

// Image sprites

// NEW Sprite approach
$assets-layout: horizontal;
// $assets-spacing: 4px;
$assets-sprite-base-class: ".asset";
@import 'assets/*.png';
@include all-assets-sprites;

.region-highlighted .modal { // hide #icons on screens smaller than 1200px
    @include breakpoint($max1199)
     {
        display: none !important;
    }
}

@include breakpoint($xlarge)
{
    #icons-mobile {
        display: none!important;
    }
}

@media screen and (max-height: 610px) {
    .region-highlighted .modal {
        display: none;
    }
}

#block-block-8 {
    .modal { 
        @include breakpoint($xlarge) {
            display: none; // hide mobile icon modal on large screens
        }
        position: relative;
    }
}

.modal {
    display: inherit;
    left: inherit;
    bottom: inherit;
    top: inherit;
    right: inherit;
    @include breakpoint ($max1199){
        width: 100%;
        overflow: visible;
        bottom: 0;
    }
    @include breakpoint($xlarge){
        top: 112px;
        top: 7rem;
        right: 0;
    }
}

.modal-sm {
        width: 100%;
        @include breakpoint($xlarge){
            width: 276px;
            width: 17.25rem;
        }
}

.modal-backdrop {
    background-color: transparent;
    &.in {
        opacity: 0;
    }
}

.modal-content {
    @include border-radius(0);
    @include breakpoint($xlarge){    
        @include box-shadow(none);
    }
    @include breakpoint($max1199) {
        border: none;
        @include box-shadow(0 -6px 5px 0px rgba(170,170,170,0.2));
        // box-shadow: (6px 6px black) !important;
    }
}

.modal-dialog {
    margin: 0 30px 0 0;
}

.modal-header {
    border-bottom: 0;
    margin: 0;
    padding: 8px 8px 0 8px;
    h4 {
        padding: 26px 28px 0 28px;
        font-size: 13px;
        color: lighten($font-color, 6%)
    }
}

.modal-body {
    padding-top: 8px;
}

.close {
    opacity: 0.5;
}

.icon-list {
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    padding-left: 32px;
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 8px;
    @include clearfix();
    @include breakpoint($max1199) {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        padding-left: 0;
        li {
            &.news,
            &.maps {
                margin-top: 16px;
            }
        }
    }
    li {
        &.youtube {
            margin-top: 16px;
        }
    @include breakpoint($xlarge){
        position: relative;
        float: left;
        padding-right: 40px;
            &.maps,
            &.photos,
            &.slides {
                padding-right: 0;
            }
        }
    }
}

.icon-text {
    text-align: center;
    font-size: 13px;
}

.icon-link {
    display: block;
    height: 82px; // 61px;
    width: 70px; // 52px;
    text-decoration: none;
}

.photos, .docs, .slides {
    margin-top: 16px;
}

// hover styles

.news a:hover {
    @extend .assets-icon_news_hover;
}

.maps a:hover {
    @extend .assets-icon_maps_hover;
}

.youtube a:hover {
    @extend .assets-icon_youtube_hover;
}

.photos a:hover {
    @extend .assets-icon_photos_hover;
}

.docs a:hover {
    @extend .assets-icon_docs_hover;
}

.slides a:hover {
    @extend .assets-icon_slides_hover;
}

.modal-backdrop {
    display: none !important;
}